body {
    font-family: Arial, sans-serif;
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
}

.cuadrado {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    border-radius: 16px;
    cursor: pointer;
    transition-property: background, width;
    transition-duration: 2s, 1s;
    transition-delay: 2s;
    transition-timing-function: ease;
}

.cuadrado:hover {
    background-color: #0000ff;
    box-shadow: 14px 6px 17px 0px rgba(0, 0, 0, 0.5);
    transition-delay: 0s;
    width: 200px;
}

.anime {
    position: fixed;
    background-color: #8a2be2;
    top: 0;
    left: 0;
    animation-name: prueba;
    animation-duration: 4s; /* Duración de la animación ajustada a 4 segundos */
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes prueba {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        background-color: #ff0000;
        border-radius: 50%;
        width: 500px;
        height: 500px;
    }
    100% {
        top: calc(100vh - 100px);
        left: calc(100vw - 100px);
    }
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; 
}

table {
    width: 60%; 
    border-collapse: collapse;
    margin-right: 40px; 
}

form {
    display: flex;
    flex-direction: column;
    width: 35%; 
}

form div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

input[type="text"] {
    padding: 5px;
    width: calc(100% - 120px);
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #daa3c7;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

thead th {
    font-weight: bold;
}